<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div> A reliable and trusted platform for managing travel listings, bookings, and reviews with user authentication, ownership based authorization, and cloud image storage.</div>
        <div> Designed and Developed by Kateghar Tilak </div>
        <div> &copy; 2026 WanderLust Private Limited. All rights reserved.</div>
        <div class="f-info-links">
            <a href="">Privacy </a>
            <a href="">Terms </a>
        </div>
    </div>
</footer>