<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1>Signup on Wanderlust</h1>
    </div>
    <div class="col-6 offset-3">
        <form action="/signup" method="post">
            <div >
                <br>
                <label for="username" class="form-label">Username</label>
                <input id="username" type="text" name="username" class="form-control" required><br><br>
            </div>
            <div>
                <br>
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" name="email" class="form-control" required><br><br>
            </div>
            <div>
                <br>
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" name="password" class="form-control" required><br><br>
            </div>
            <button class="btn btn-success">Signup</button>
        </form>
    </div>
</div>